/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url(../images/what-the-hex-dark/what-the-hex-dark.png);
    background-color: black;
    font-family: 'Tajawal', sans-serif;
}

/* Navbar Styles */

.navbar{
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.54);
    box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.54);
}

.navbar-text:hover,.navbar-text:active{
    color: #5ef4ff;
    cursor: pointer;
}

.dropdown-menu{
    background-color: rgb(31, 31, 31);
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover,.dropdown-item:active{
    color: #5ef4ff;
    background-color: inherit;
}

/* General Style */

.main{
    margin-top: 4.5em;
}

.jumboForm{
    border: 1px solid #17a2b8;
    border-radius: 5px;
    padding: 1em;
    margin:.5em;
}

/* Form Syles */

.sliderContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    outline: #17a2b8;
    border: 1px solid #17a2b8;
    -webkit-transition: .3s;
    transition: border .3s;
}

.slider:hover {
    border: 1px solid #5ef4ff;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #17a2b8;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: background .3s;
}

.slider::-webkit-slider-thumb:hover{
    background: #5ef4ff;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #5ef4ff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: background .3s;
}

.slider::-moz-range-thumb:hover{
    background: #5ef4ff;
}

/* Checkmark & Radio Container Styles */
 .checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Checkmark Styles */
  .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #17a2b8;
    -webkit-transition: .3s;
    transition: border .3s;
  }
  
  .checkContainer:hover input ~ .checkMark {
    border: 1px solid #5ef4ff;
  }
  
  .checkContainer input:checked ~ .checkMark {
    background-color: #5ef4ff;
  }

/* Radio Styles */
.checkRadio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #17a2b8;
    -webkit-transition: .3s;
    transition: border .3s;
}

.checkContainer:hover input ~ .checkRadio {
    border: 1px solid #5ef4ff;
}

.checkContainer input:checked ~ .checkRadio {
    background-color: #5ef4ff;
}

@font-face {
    font-family: 'Tajawal';
    src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
}